
/* ------------------------------------------------------------------------------
	Colors definitions
-------------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$turkiz: #1ABC9C;
$grey-dark: #343434;
$orange: #f56857;
$section-background: #e9f0f2;

$text-body: #333333;
$text-title: #2d3033;
$text-p: #6c7279;
$header-fixed: #2c3e50;

/* ------------------------------------------------------------------------------
	fonts definitions
-------------------------------------------------------------------------------*/
$font-source-sans-pro:'Source Sans Pro', sans-serif;
$font-jura:'Jura', sans-serif;
$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-arial:'Arial';
