
  <!-- footer section ------------------------------------------------------------------>
  <section class="section   section-background-bold" id="footer " role="footer ">
    <div class="container wow fadeIn animated">
      <p class="lead text-center">We're here to help make your life easier.</p>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="">

          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- section end ------------------------------------------------------------------->
