
  <!-- footer section ------------------------------------------------------------------>
  <section class="section   section-background-bold" id="footer " role="footer ">
    <div class="container wow fadeIn animated">
      <p class="lead text-center">We're here to help make your life easier.</p>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.
               Sed quis tortor magna. Maecenas hendrerit feugiat pulvinar. Aenean condimentum quam eu ultricies cursus.
                Nulla facilisi. In hac habitasse platea dictumst. Ut nec tellus neque. Sed non dui eget arcu elementum facilisi.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- section end ------------------------------------------------------------------->
