
  <!-- intro section ------------------------------------------------------------------>
  <section class="section" id="features" role="features">
    <div class="container wow fadeIn animated">
      <div class="row">
        <div class="col-md-12">
          <div class="blank-section">
            dsdsd
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- section end ------------------------------------------------------------------->


  <!-- test section ------------------------------------------------------------------>
  <section class="section" id="test" role="test">
    <div class="container wow fadeIn animated">
      <div class="row">
        <div class="col-md-12">
          <div class="blank-section">
            dsdsd
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- section end ------------------------------------------------------------------->
