
<!-- header section -->
<section class="header-video" id="banner" role="banner">
  <video autoplay="" loop="" class="" controls="false" preload="" autobuffer="" poster="/img/We-Work-We-Wait.jpg">
    <source src="dist/img/video/We-Work-We-Wait.mp4">
  </video>
  <header id="header">
    <div class="header-content clearfix">
      <a class="logo" href="#scrollToTop"><img  src="dist/img/logos/logo-fill.png" alt="logo"></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#banner">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#features">features</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a>
    </div>
  </header>
  <div class="container">

  </div>
</section>
<!-- header section -->
