
/* navigation ----------------*/
.navigation {
	float: right;

	&.open {
		opacity: 0.9;
		visibility: visible;
		transition: opacity 0.5s;
	}
	li {
		display: inline-block;
	}
	a {
		// font-family: $font-source-sans-pro;
		color: $white;
		font-size: 16px;
		font-weight: 600;
		margin-left: 40px;
		text-transform: uppercase;
		&:hover, &.active {
			color: $turkiz;
		}
	}
}


/* nav-toggle ----------------*/
.nav-toggle {
	display: none;
	height: 44px;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	top: 32px;
	white-space: nowrap;
	width: 44px;
	z-index: 99999;
	transition: all 0.3s;
	background: transparent;

	&:before, &:after {
		border-radius: 50%;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		transform: translateZ(0);
		backface-visibility: hidden;
		transition-property: transform;
	}

	&:before {
		transform: scale(1);
		transition-duration: 0.3s;
		color: $turkiz;
	}

	&:after {
		background-color: transparent;
		transform: scale(0);
		transition-duration: 0s;
		color: $turkiz;
	}

	span {
		bottom: auto;
		display: inline-block;
		height: 3px;
		left: 50%;
		position: absolute;
		right: auto;
		top: 50%;
		width: 18px;
		z-index: 10;
		transform: translateX(-50%) translateY(-50%);
		&:before, &:after {
			background-color: $white;
			content: "";
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			transform: translateZ(0);
			backface-visibility: hidden;
			transition: transform 0.3s;
		}
		&:before {
			transform: translateY(-6px) rotate(0deg);
		}
		&:after {
			transform: translateY(6px) rotate(0deg);
		}
	}

	/* close-nav is for the close to open animation ----------------*/
	&.close-nav {
		&:before {
			transform: scale(0);
		}
		&:after {
			transform: scale(1);
		}
		span {
			background-color: rgba(255, 255, 255, 0);
			&:before, &:after {
				background-color: $white;
			}
			&:before {
				transform: translateY(0) rotate(45deg);
			}
			&:after {
				transform: translateY(0) rotate(-45deg);
			}
		}
	}

}
