
#services {
    -webkit-clip-path: polygon(0 0,100% 5%,100% 95%,0 100%);
    clip-path: polygon(0 0,100% 5%,100% 95%,0 100%);

}
/* Media
---------------------------------- */
.media {
    .fa {
    	font-size: 38px;
    	width: 40px;
    	height: 25px;
    	line-height: 48px;
    	padding: 0 5px;
    	text-align: center;
    }
}

.space {
	padding: 20px 0;
}

blockquote {
    padding: 10px 5px;
    margin: 0 0 20px;
    font-size: 17.5px;
}


/* block-lists
---------------------------------- */
.block-list {
    .media-left {
    	width: 60px;
    }

    p {
    	font-size: 14px;
    }

    .fa {
        padding: 20px;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        color: $white;
        background: $turkiz;
        -webkit-clip-path: rect(110px, 160px, 170px, 60px);
        // clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }
}
